<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ cookiecutter.project_name }}</title>
    <meta name="description" content="{{ cookiecutter.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="/img/icon.png">
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="page-header">
      <h1 class="page-header__logo"><img class="img-responsive" src="/img/stipt_logo.svg" width="164" height="53" alt="stipt."/></h1>
    </header>

    <main>
      <div class="jumbo">
        <div class="wrapper">
          <h2>Tijdig geboekt, strak gepland.</h2>
        </div>
      </div>
      <div class="wrapper">
        <div class="text-center">
          <p class="lead">
            Stipt. is de totaaloplossing voor uw boekhouding. Wij staan in voor correcte <strong>accountancy</strong>, optimaliseren uw <strong>fiscaliteit</strong> en geven gericht <strong>advies</strong>.
          </p>
          <a href="mailto:hedwig@stiptgeboekt.be"class="btn">
            Contacteer ons
          </a>
        </div>

        <section id="onlinetools">
          <header class="sectionheader">
            <h2>Online tools</h2>
          </header>
          <ul class="linklist">
            <li>
              <a href="http://ec.europa.eu/taxation_customs/vies/vieshome.do?locale=nl" target="_blank">Geldigverklaring BTW nummer</a>
              <p>Controleer op deze site of een BTW nummer geregistreerd is.</p>
            </li>
            <li>
              <a href="http://www.ibanbic.be/" target="_blank">BIC en IBAN calculator</a>
              <p>Heb je nog een rekeningnummer in de oude notatie? Reken het hier om.</p>
            </li>
            <li>
              <a href="http://economie.fgov.be/nl/statistieken/cijfers/economie/consumptieprijzen/huurcalculator/" target="_blank">Huurcalculator</a>
              <p>Bereken hier de geindexeerde prijs voor een pand dat je verhuurt.</p>
            </li>
            <li>
              <a href="http://minfin.fgov.be/portail2/nl/themes/declaration/prepay-app.htm" target="_blank">Gestructureerde mededeling</a>
              <p>Controleer hier of een gestructureerde mededeling wel geldig is, of bereken er een.</p>
            </li>
            <li>
              <a href="http://tools.kluwer.be/Bruto-Netto/" target="_blank">Bruto / netto loonberekening</a>
              <p>Zet een brutoloon om naar netto of omgekeerd.</p>
            </li>
          </ul>
        </section>

        <section id="nuttigelinks">
          <header class="sectionheader">
            <h2>Nuttige links</h2>
          </header>
          <ul class="linklist">
            <li>
              <a href="http://kbopub.economie.fgov.be/kbopub/zoeknummerform.html;jsessionid=B3C920FFD735717E9EFEAC6B704013E3.worker4b" target="_blank">Kruispuntbank</a>
            </li>
            <li>
              <a href="http://justitie.belgium.be/nl/overheidsdienst_justitie/organisatie/belgisch_staatsblad/" target="_blank">Belgisch Staatsblad</a>
            </li>
            <li>
              <a href="http://www.unizo.be/" target="_blank">KMOnet UNIZO</a>
            </li>
            <li>
              <a href="http://vbo-feb.be/" target="_blank">Verbond van Belgische Ondernemingen</a>
            </li>
            <li>
              <a href="http://www.nbb.be/" target="_blank">Nationale Bank van België</a>
            </li>
            <li>
              <a href="http://financien.belgium.be/nl/" target="_blank">Federale Overheidsdienst Financiën</a>
            </li>
            <li>
              <a href="http://justitie.belgium.be/nl/" target="_blank">Federale Overheidsdienst Justitie</a>
            </li>
            <li>
              <a href="http://economie.fgov.be/nl/" target="_blank">Federale Overheidsdienst Economie</a>
            </li>
          </ul>
        </section>
      </div>
    </main>

    <footer class="page-footer">
      <div class="wrapper">
        <div class="layout">
          <div class="layout__item desk-one-third">
            <p class="text-center">
              <strong>Hedwig Spits</strong><br />
              accountant - belastingconsulent IAB<br />
            </p>
          </div><!--

      --><div class="layout__item desk-one-third">
            <p class="text-center">
              Domien Veysstraat 53<br />
              8570 Vichte<br />
              <br />
              BTW nummer: BE 0651.836.634
            </p>
          </div><!--

      --><div class="layout__item desk-one-third">
            <p class="text-center">
              <a href="tel:+3256772557"><strong>T.</strong> 056/77.25.57</a><br />
              <a href="mailto:hedwig@stiptgeboekt.be">hedwig@stiptgeboekt.be</a>
            </p>
          </div>
        </div>
      </div>

    </footer>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81052046-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
